.headers{
    background-image: url('https://cdn.tripster.ru/thumbs2/59989a84-e861-11ee-874a-c6fe22e94815.1600x900.jpeg?width=1200&height=630');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}