.footers {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footerColumn {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
  
    h3 {
      font-size: 1.5rem;
      margin-bottom: 15px;
      font-weight: bold;
    }
  
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      margin-bottom: 10px;
      display: block;
      transition: color 0.3s ease;
  
      &:hover {
        color: #D89E08;
      }
    }
  }
  
  .footerSocials {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  
    a {
      font-size: 2rem;
      transition: color 0.3s ease;
  
      &:hover {
        color: #1dbf73; 
      }
    }
  
    .facebook {
      color: #3b5998; 
  
      &:hover {
        color: #2d4373;
      }
    }
  
    .instagram {
      color: #e4405f; 
  
      &:hover {
        color: #c13584;
      }
    }
  
    .twitter {
      color: #1da1f2; 
  
      &:hover {
        color: #0d95e8;
      }
    }
  
    .linkedin {
      color: #0077b5; 
  
      &:hover {
        color: #005582;
      }
    }
  
    .youtube {
      color: #ff0000; 
  
      &:hover {
        color: #cc0000;
      }
    }
  }
  
  .footerBottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.875rem;
  }
}
  @media (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .footerColumn {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .footerSocials {
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .footerColumn h3 {
      font-size: 1.2rem;
    }
  
    .footerColumn a {
      font-size: 0.9rem;
    }
  
    .footerSocials a {
      font-size: 1.8rem;
    }
  
    .footerBottom {
      font-size: 0.75rem;
    }
  }
  