.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .firstly {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        padding: 24px 0 24px 0;

        .information {

            display: flex;
            flex-direction: column;

            .icon {
                display: flex;
                align-items: center;
                gap: 6px;
                margin: 14px 0 14px 0;
            }

            .hotelDistance {
                margin-bottom: 14px;
                color: #B67E06;
            }

            .hotelPriceHighlight {
                color: #003173;
            }
        }

        button {
            color: white;
            background-color: #B67E06;
            border: none;
            border-radius: 24px;
            padding: 16px 28px 16px 28px;
        }

    }

    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        margin-top: 20px;
        width: 80%;

        img {
            max-width: 400px;
            height: 400px;
            border-radius: 12px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
            cursor: pointer;
            object-fit: cover;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
                opacity: 0.9;
            }

        }
    }

    .back {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        padding: 24px 0 24px 0;

        .hotelTitle {
            margin-bottom: 14px;
        }

        .goBack {
            color: white;
            background-color: #003173;
            border: none;
            border-radius: 24px;
            padding: 16px 28px 16px 28px;
        }
    }
}

@media (max-width:992px) {
    .detail {
    
        .firstly {
            width: 80%;
    
            .information {

                display: flex;
                flex-direction: column;
    
                .icon {
               font-size: 12px
                }
    
                .hotelDistance {
                   font-size: 12px;
                }
    
                .hotelPriceHighlight {
                    font-size: 12px;
                }

                .title{
                    font-size: 18px;
                }
    
            }
           
            button {
                padding: 12px 22px 12px 22px;
                font-size: 8px;
            }
    
        }
    
        .images {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            margin-top: 20px;
            width: 80%;
    
            img {
                max-width: 400px;
                height: 400px;
                border-radius: 12px;
                transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
                cursor: pointer;
                object-fit: cover;
    
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
                    opacity: 0.9;
                }
    
            }
        }
    
        .back{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            padding: 24px 0 24px 0;
    
            .hotelTitle{
                margin-bottom: 14px;
            }
    
            .goBack{
                padding: 12px 22px 12px 22px;
                font-size: 8px;
            }
        }
    }

}



@media (max-width:576px) {
    .detail {
    
        .firstly {
            width: 80%;
    
            .information {

                display: flex;
                flex-direction: column;
    
                .icon {
               font-size: 12px
                }
    
                .hotelDistance {
                   font-size: 12px;
                }
    
                .hotelPriceHighlight {
                    font-size: 12px;
                }

                .title{
                    font-size: 18px;
                }
    
            }
           
            button {
                padding: 8px 16px 8px 16px;
                font-size: 6px;
            }
    
        }
    
        .images {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            margin-top: 20px;
            width: 80%;
    
            img {
                max-width: 200px;
                height: 200px;
                border-radius: 12px;
                transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
                cursor: pointer;
                object-fit: cover;
    
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
                    opacity: 0.9;
                }
    
            }
        }
    
        .back{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            padding: 24px 0 24px 0;
    
            .hotelTitle{
                margin-bottom: 14px;
            }
    
            .goBack{
                padding: 8px 16px 8px 16px;
                font-size: 6px;
            }
        }
    }


}